
.company-name{
    text-decoration: underline;
    cursor: pointer;
    transition: font-size 1s;
}

.company-name:hover{
    font-size: 1.4rem;
}

.job-title{
    font-weight: bold;
    font-size: 1.25rem;
    margin: 10px 0px;
}

.job-title-date{
    font-size: 1.05rem;
}

.job-details{
}

.project-title{
    font-size: 1.65rem;
    text-decoration: underline;
    color: white;
}