.testDelay{
    transition-delay: 200ms;
}

.company-name{
    text-decoration: underline;
}

.job-title{
    font-weight: bold;
    font-size: 1.25rem;
    margin: 10px 0px;
}

.job-title-date{
    font-size: 1.05rem;
}

.project-title{
    font-size: 1.65rem;
    text-decoration: underline;
    color: white;
}